<div id="<%= dom_id material_cirurgico %>">
  <p>
    <strong>Nome:</strong>
    <%= material_cirurgico.nome %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= material_cirurgico.tipo %>
  </p>

</div>
