<div id="<%= dom_id sala_cirurgia %>">
  <p>
    <strong>Nome:</strong>
    <%= sala_cirurgia.nome %>
  </p>

  <p>
    <strong>Especialidade:</strong>
    <%= sala_cirurgia.especialidade %>
  </p>

</div>
