<h1>Editing sala cirurgia</h1>

<%= render "form", sala_cirurgia: @sala_cirurgia %>

<br>

<div>
  <%= link_to "Show this sala cirurgia", @sala_cirurgia %> |
  <%= link_to "Back to sala cirurgias", sala_cirurgias_path %>
</div>
